[Desktop Entry]
Encoding=UTF-8
Name=XMonad (mjl)
Comment=Lightweight tiling window manager
Exec=/usr/local/bin/xmonad.start
Icon=xmonad.png
Type=XSession
